@import 'src/scss/abstracts/_variables.scss';

.my-shelves-list {
	margin-bottom: 2rem;
}
.my-shelves {
	&__input {
		background-color: $ash-background;
		margin-bottom: 1.25rem;
		padding: 1.05em 1em;
	}
	&__btn__submit {
		width: 100%;
		&.btn {
			font-size: 0.825rem;
			padding: 0.625rem 1.25rem;
		}
	}
}
