.creat-post-modal-content__main__share-container {
	.reading-target__process {
		margin: 0;
		padding: 1rem;

		.reading-target__user {
			width: 128px !important;
			height: 128px !important;
		}
		.reading-target__content__top {
			margin-bottom: 1rem;
		}
		.reading-target__content__bottom {
			border-radius: 12px;
			.linear-progress {
				height: 2.5rem !important;
			}
		}
	}
}
