@import 'src/scss/abstracts/_global.scss';

.newfeed__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 24px;
	p {
		font-size: 2.25rem;
		line-height: 3rem;
		font-weight: 700;
		color: #2d2c42;
	}
	svg {
		cursor: pointer;
	}
}

.newfeed__creat-post {
	padding: 24px;
	background-color: white;
	border-radius: 12px;
	margin-bottom: 24px;
}

.newfeed__creat-post__avatar-and-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	margin-bottom: 20px;
}

.newfeed__creat-post__avatar {
	width: 6.2%;
	border-radius: 50%;
	overflow: hidden;
	img {
		width: 100%;
		object-fit: cover;
	}
}

.newfeed__creat-post__input {
	flex-grow: 1;
	height: 100%;
	border: none;
	outline: none;
	font-size: 0.94rem;
	line-height: 1.5rem;
}

.newfeed__creat-post__input::placeholder {
	color: #a0a3bd;
}

.newfeed__creat-post__options {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newfeed__creat-post__options__item {
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
	span {
		font-weight: 600;
		color: #6e7191;
		font-size: 0.94rem;
	}
}

.newfeed__creat-post__options__item__logo {
	svg {
		width: 24px;
		height: 24px;
	}
	&--book {
		path {
			stroke: $primary;
			fill: $primary;
		}
	}
	&--category {
		path {
			stroke: $primary;
		}
	}
	&--hashtag {
		path {
			stroke: $primary;
			fill: $primary;
		}
	}
}

// post
.post__container {
	padding: 20px 16px;
	background-color: white;
	border-radius: 16px;
	margin-bottom: 24px;
}

.post__user-status {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 12px;
}

.post__user-status__avatar {
	width: 6.05%;
	border-radius: 50%;
	overflow: hidden;
	img {
		width: 100%;
		object-fit: cover;
	}
}

.post__user-status__name {
	font-weight: 600;
	font-size: 0.94rem;
	line-height: 1.5rem;
	letter-spacing: 0.75px;
}

.post__user-status__post-time-status {
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 1.4rem;
	color: #a0a3bd;
	gap: 8px;
	font-weight: 500;
}

.post__user-status__post-time-status__online-dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: $primary;
}

.post__description {
	font-size: 0.94rem;
	line-height: 1.5rem;
	color: #4e4b66;
	margin-bottom: 20px;
}

.post__book-container {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.post__book__image {
	flex-grow: 1;
	border-radius: 8px;
	overflow: hidden;
	img {
		width: 100%;
	}
}

.post__book__informations {
	width: 71.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.post__book__name {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 2rem;
	color: #2d2c42;
}

.post__book__author {
	font-size: 0.81rem;
	line-height: 1.375rem;
	color: #6e7191;
}

.post__book__button-and-rating {
	display: flex;
	align-items: center;
	.star-rating {
		margin: 0 8px 0 20px;
	}
}

.post__book__rating__number {
	font-weight: 600;
	font-size: 0.81rem;
	color: #a0a3bd;
}

.post__book-container {
	margin-bottom: 20px;
}

.post__book__description {
	max-height: 96px;
	font-size: 0.94rem;
	line-height: 1.5rem;
	letter-spacing: 0.75px;
	overflow: hidden;
	p {
		color: #6e7191;
	}
}

.post__book__description__continue-reading {
	color: #0576f0;
	text-decoration: underline;
}

.post__options {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 20px 16px;
	border-top: #f1f1f5 1px solid;
}

.post__options__item {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 0.81rem;
	color: #6e7191;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	svg {
		width: 24px;
		height: 24px;
	}
}

.post__comments-box {
	display: flex;
	gap: 8px;
}

.post__comments-box__avatar {
	width: 5.4%;
	padding-top: 5px;
	img {
		width: 100%;
	}
}

.post__comments-box__comment-area {
	flex-grow: 1;
	padding: 11px 16px;
	background: #fefdfa;
	border: 1px solid #d9dbe9;
	border-radius: 15px;
	resize: none;
	font-size: 13px;
	overflow: hidden;
	outline: none;
	color: #2d2c42;
	line-height: 22px;
	&::placeholder {
		color: #a0a3bd;
		font-size: 13px;
		line-height: 22px;
	}
}
