@import 'src/scss/abstracts/_global.scss';

.newfeed__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 24px;
	p {
		font-size: 2.25rem;
		line-height: 3rem;
		font-weight: 700;
		color: #2d2c42;
	}
	svg {
		cursor: pointer;
	}
}

.newfeed__create-post {
	padding: 24px;
	background-color: white;
	border-radius: 12px;
	margin-bottom: 24px;
}

.newfeed__create-post__avatar-and-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	margin-bottom: 20px;
	input {
		cursor: pointer;
	}
}

.newfeed__create-post__avatar {
	width: 40px;
	height: 40px;
}

.newfeed__create-post__input {
	flex-grow: 1;
	height: 100%;
	border: none;
	outline: none;
	font-size: 0.94rem;
	line-height: 1.5rem;
}

.newfeed__create-post__input::placeholder {
	color: #a0a3bd;
}

.newfeed__create-post__options {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newfeed__create-post__options__item {
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
	span {
		font-weight: 600;
		color: #6e7191;
		font-size: 18px;
	}
}

.newfeed__create-post__options__item__logo {
	svg {
		width: 24px;
		height: 24px;
	}
	&--book {
		path {
			fill: $primary;
		}
	}
	&--category {
		path {
			stroke: $primary;
		}
	}
	// &--hashtag {
	// 	path {
	// 		stroke: $primary;
	// 		fill: $primary;
	// 	}
	// }
	&--friend {
		path {
			stroke: $primary;
		}
	}
}

.newfeed {
	.post__user-status__subtitle {
		.react-rating-container {
			min-width: 70px;
		}
	}
	.post-book__button-and-rating {
		.post-book__rating__group {
			min-width: 135px;
			.react-rating-container {
				span {
					margin: 0px 0.8px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1366px) {
	.newfeed {
		.create-post-modal-content__main__body {
			padding: 13px 10px 13px 24px;
		}
		.create-post-modal-content__main__header {
			padding: 12px 24px;
		}
		.create-post-modal-content__main__options-and-submit {
			padding: 17px;
		}
		.create-post-modal-content__main__body__text-field-edit-wrapper {
			.book-thumbnail.book-thumbnail-md {
				height: 220px;
			}

			.rich-text-editor {
				margin-bottom: 10px;
			}

			.book-thumbnail.book-thumbnail-md {
				height: 190px;
			}
		}
	}
}

@media only screen and (max-width: 1280px) {
	.newfeed {
		.create-post-modal-content__main__body {
			padding: 24px 10px 24px 24px;
		}
		.create-post-modal-content__main__header {
			padding: 16px 24px;
		}
		.create-post-modal-content__main__options-and-submit {
			padding: 24px;
		}
		.create-post-modal-content__main__body__text-field-edit-wrapper {
			.book-thumbnail.book-thumbnail-md {
				height: 240px;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.newfeed {
		.post__container {
			.post__user-status {
				&__subtitle {
					.react-rating-container {
						margin-left: 10px;
					}
				}
			}
		}
		.post-book__button-and-rating {
			gap: 1rem;
		}
		.btn-status.btn {
			padding: 8px;
		}
		.newfeed__create-post {
			.newfeed__create-post__options__item {
				span {
					font-size: 16px;
				}
			}
		}
	}
}

@media only screen and (max-width: 913px) {
	.newfeed {
		.post__container {
			.post__user-status {
				&__subtitle {
					.react-rating-container {
						padding-right: 10px;
						width: 72px;
					}
				}
			}
		}
		.post-book__button-and-rating {
			gap: 1rem;
		}
	}
}

@media only screen and (width: 820px) {
	.newfeed {
		.post-book__button-and-rating {
			gap: 4rem;
		}
		.post__container {
			.post__user-status {
				&__subtitle {
					.react-rating-container {
						width: 75px;
					}
				}
			}

			.post-book__edit .linear-progress {
				max-width: 70%;
			}
			.btn-status.btn {
				padding: 8px;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.newfeed {
		.post-book__button-and-rating {
			gap: 4rem;
		}
		.btn-status.btn {
			padding: 8px;
		}
	}
}
