@import 'src/scss/abstracts/_global.scss';

.newfeed__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 24px;
	p {
		font-size: 2.25rem;
		line-height: 3rem;
		font-weight: 700;
		color: #2d2c42;
	}
	svg {
		cursor: pointer;
	}
}

.newfeed__creat-post {
	padding: 24px;
	background-color: white;
	border-radius: 12px;
	margin-bottom: 24px;
}

.newfeed__creat-post__avatar-and-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	margin-bottom: 20px;
}

.newfeed__creat-post__avatar {
	width: 6.2%;
	border-radius: 50%;
	overflow: hidden;
	img {
		width: 100%;
		object-fit: cover;
	}
}

.newfeed__creat-post__input {
	flex-grow: 1;
	height: 100%;
	border: none;
	outline: none;
	font-size: 0.94rem;
	line-height: 1.5rem;
}

.newfeed__creat-post__input::placeholder {
	color: #a0a3bd;
}

.newfeed__creat-post__options {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newfeed__creat-post__options__item {
	display: flex;
	align-items: center;
	gap: 16px;
	cursor: pointer;
	span {
		font-weight: 600;
		color: #6e7191;
		font-size: 0.94rem;
	}
}

.newfeed__creat-post__options__item__logo {
	svg {
		width: 24px;
		height: 24px;
	}
	&--book {
		path {
			stroke: $primary;
			fill: $primary;
		}
	}
	&--category {
		path {
			stroke: $primary;
		}
	}
	&--hashtag {
		path {
			stroke: $primary;
			fill: $primary;
		}
	}
}

.newfeed__creat-post__modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(217, 219, 233, 0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
