.notification-modal {
	position: absolute;
	width: 400px;
	top: 100%;
	right: -500%;
	background: #fcfcfc;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.04);
	cursor: default;
	z-index: 1000;

	.notification-modal__header {
		font-size: 20px;
		line-height: 32px;
		font-weight: 600;
		margin: 20px 0 0 20px;
	}

	.nav-tabs {
		background-color: transparent;
		.nav-link {
			margin-left: 20px;
			padding: 12px 0;
			font-size: 18px;
			line-height: 1.5;
			&.active {
				background-color: transparent;
			}
		}
	}

	.tab-content {
		padding: 12px 6px 20px 12px;
		max-height: 69vh;
		margin-right: 2px;
		overflow: auto;
		background-color: transparent;
		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: white;
			border-radius: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background: rgba(#606060, 0.3);
			border-radius: 8px;
			&:hover {
				background: rgba(#606060, 0.2);
			}
		}
	}

	.notification-modal__content__title {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 32px;
		letter-spacing: 0.75px;
		padding: 8px 8px 12px;
	}

	.notification-status {
		margin-bottom: 4px;
		.notification-status__main-content-wrapper {
			.notification-status__main-content__message {
				font-size: 13px;
			}
		}
		.notification-status__reply-buttons {
			margin-top: 12px;
			margin-left: 0;
			.notification-status__reply-button {
				width: 170px;
				height: 44px;
			}
		}
	}

	.notification__tab__button {
		text-align: center;
		padding: 12px 20px 0;
		color: #0576f0;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.75px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.no__notificaion {
		font-size: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 50px 0;
	}

	.notification-modal__loading-container {
		padding-top: 20px;
		height: calc(69vh + 54px);
	}

	.timeline-wrapper {
		background-color: transparent;
		.timeline-item {
			background-color: transparent;
			padding: 0 20px 20px;
		}
	}
	.overflow-unset {
		+ div {
			overflow: unset;
		}
	}
}

@media only screen and (max-width: 1280px) {
	.notification-modal {
		right: -400%;
	}
}

@media only screen and (max-width: 1024px) {
	.notification-modal {
		right: -300%;
	}
}

@media only screen and (max-width: 820px) {
	.notification-modal {
		right: -550%;
	}
}

@media only screen and (max-width: 768px) {
	.notification-modal {
		right: -490%;
	}
}
