@import 'src/scss/abstracts/_variables.scss';

.main-shelves {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.75rem;
		h4 {
			margin: 0;
		}
	}
	&__search {
		max-width: 456px;
		border: 1px solid $ash-line;
	}

	&__pane {
		padding: 1.75rem 2.5rem;
		border-radius: 16px;
		background-color: $white;
	}

	&__filters {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	.select-shelf {
		padding: 1rem 2.25rem;
		border-radius: 16px;
		background-color: $primary-light;
	}

	.btn-private {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.875rem;
		width: 220px;
		&.btn {
			border-color: $ash-line;
			color: $ash-body;
			&:hover {
				background-color: unset;
			}
		}
	}
}
