.post__main__container {
	padding: 16px;
	background: #eff0f7;
	border-radius: 12px;
	margin-bottom: 2rem;
	.post__container {
		margin: 0;
	}
}

.img-share__group {
	margin: 0 5px 0 5px;
	svg {
		width: 12px;
		height: 12px;
	}
}

.post__user-icon {
	width: 12px;
	height: 12px;
	margin: 0 6px;
	vertical-align: baseline;
}

.modal-tagged-others {
	top: 20%;
	.modal-title {
		margin-bottom: 0;
	}
	.modal-content {
		border-radius: 10px;
	}
	.modal-body {
		height: 40vh;
		overflow-y: auto;
	}
	&__avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-left: 1rem;
		margin-right: 2rem;
		margin-bottom: 1rem;
	}
}
