@import 'src/scss/abstracts/_variables.scss';

.upload-icon-goback {
	margin-left: 15px;
}

.upload-book-form {
	padding: 38px 30px;
	background: #ffffff;
	border-radius: 16px;
	display: flex;
	gap: 37px;

	.upload-image {
		border-radius: 6px;
		&__wrapper {
			width: 199px;
			height: 223px;
			border-radius: 6px;
			padding: 0px;
			img {
				max-width: 199px;
				height: 100%;
				object-fit: cover;
				border-radius: 6px;
			}
			.dropzone.upload-image {
				width: 199px;
			}
		}
	}

	.upload-info-form {
		width: 100%;
		.upload-text-danger {
			color: red;
		}
		.inp-book {
			width: 100%;
			margin-bottom: 20px;
			label {
				margin-bottom: 15px;
				font-weight: 600;
				font-size: 15.5px;
				line-height: 21px;
				letter-spacing: 0.648188px;
			}

			.input {
				height: 50px;
				border-radius: 12px;
				font-weight: 500;
				font-size: 15px;
				line-height: 24px;
				padding: 16px 22.78px;

				&::placeholder {
					font-weight: 500;
					font-size: 15px;
					line-height: 24px;
				}
			}

			.inp-date {
				width: 100%;
				border-radius: 12px;
				height: 50px;
				padding: 0px 18px;
				background-color: #f7f7fc;
				border: none;
				display: flex;
				align-items: center;

				.react-datepicker {
					font-family: inherit;
					&__input-container {
						input {
							width: 100%;
							border-radius: 12px;
							font-weight: 500;
							font-size: 15px;
							line-height: 24px;
							padding: 16px 15px;
							background-color: transparent;
							outline: none;
							border: none;

							&::placeholder {
								font-weight: 500;
								font-size: 15px;
								line-height: 24px;
							}
						}
					}
				}

				.icon-calendar {
					cursor: pointer;
				}
			}

			.txtarea {
				textarea {
					width: 100%;
					padding: 0.75rem 1rem;
					background-color: inherit;
					resize: none;
					outline: none;
					border: none;
					border-radius: 12px;
					background-color: #f7f7fc;
					font-weight: 500;
					font-size: 15px;
					line-height: 24px;
					&::-webkit-scrollbar {
						display: none;
					}
				}
			}

			.add-and-search-categories__categories-added {
				width: 100%;
				display: flex;
				gap: 4px;
				flex-wrap: wrap;

				&__item {
					height: 43px;
				}
			}
			.add-and-search-categories__main-content.added-categories {
				padding: 4px 15px;
			}
		}
	}

	.upload-image__description {
		text-align: center;
		font-weight: 600;
	}

	.select-box {
		line-height: 1;
		&__btn {
			height: 50px;
		}
	}

	.btnMainUpload {
		width: 100%;
	}
}

.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle {
	display: none;
}
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
	display: none;
}
