.post__book-container {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	margin-bottom: 20px;
}

.post__book__image {
	flex-grow: 1;
	border-radius: 8px;
	overflow: hidden;
	max-width: 160px;
	max-height: 240px;
	img {
		width: 100%;
		object-fit: cover;
	}
}

.post__book__informations {
	width: 71.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.post__book__name {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 2rem;
	color: #2d2c42;
}

.post__book__author {
	font-size: 0.81rem;
	line-height: 1.375rem;
	color: #6e7191;
}

.post__book__button-and-rating {
	display: flex;
	align-items: center;
	.react-rating-container {
		margin: 0 8px 0 20px;
	}
}

.post__book__rating__number {
	font-weight: 600;
	font-size: 0.81rem;
	color: #a0a3bd;
}

.post__book__description {
	max-height: 96px;
	font-size: 0.94rem;
	line-height: 1.5rem;
	letter-spacing: 0.75px;
	overflow: hidden;
	span {
		color: #6e7191;
	}
}

.post__book__description__continue-reading {
	color: #0576f0;
	text-decoration: underline;
	margin-left: 12px;
}
