@import 'src/scss/abstracts/_variables.scss';

.main-quote-detail {
	&__header {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		h4 {
			margin: 0;
		}
	}

	&__link {
		display: block;
		margin-left: auto;
		padding: 1rem 1.5rem;
		border: 1px solid $ash-line;
		border-radius: 16px;
		font-size: 1rem;
		font-weight: 600;
		color: $ash-body;

		&__row {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1.4rem;
		}
	}

	&__pane {
		margin-top: 3rem;
		padding: 2rem 40px;
		border-radius: 16px;
		background-color: $white;

		.quote-comment {
			margin-left: 40px;
		}

		.quote-card {
			margin: 0 auto 40px;
			.quote-action-bar {
				gap: 24px;
			}
		}

		.quote-footer {
			&__right {
				min-width: 20em;
				display: flex;
				justify-content: end;
			}
		}
	}
}

.comment-reply-container {
	margin: 0 0 20px 44px;
}

.reply-comment-editor {
	display: none;
	&.show {
		display: flex;
	}
}

@media only screen and (max-width: 1366px) {
	.main-quote-detail {
		.quote-card {
			.quote-action-bar {
				gap: 12px;
				.quote-action__item {
					gap: 8px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.quote-action__item {
		gap: 5px;
		& > div {
			gap: 5px;
			margin-right: 10px;
		}
		& a {
			width: 95px;
		}
	}
	.quote-action-bar {
		gap: 15px;
	}

	.main-quote-detail {
		.quote-action__name {
			width: 100%;
		}
	}
	.sidebar-quote {
		.dualColumn-item__number {
			display: block;
		}
	}
}
