@import 'src/scss/abstracts/_variables.scss';

.main-quote-detail {
	&__header {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		h4 {
			margin: 0;
		}
	}

	&__link {
		display: block;
		max-width: 372px;
		margin-left: auto;
		padding: 1rem 1.5rem;
		border: 1px solid $ash-line;
		border-radius: 16px;
		font-size: 1rem;
		font-weight: 600;
		color: $ash-body;

		svg {
			margin-left: 1.4rem;
		}
	}

	&__pane {
		margin-top: 3rem;
		padding: 2rem 2.625rem;
		border-radius: 16px;
		background-color: $white;

		.comment {
			margin-left: 2.5rem;
			margin-right: auto;
			margin-bottom: 1.25rem;
		}

		.quote-card {
			margin: 0 auto 2.5rem;
		}

		.reply-box {
			margin-left: 2.5rem;
		}
	}
}
