@import 'src/scss/abstracts/_variables.scss';
.sidebar-shelves {
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
	.read-challenge {
		margin-bottom: 0;
	}
	&__reading__status {
		margin-top: 1rem;
		h4 {
			margin-bottom: 1.5rem;
		}
	}
	.book-reference__slider {
		margin-bottom: 0;
	}
}
