.user__search__container {
	padding: 20px;
	.myfriends {
		&__button {
			width: 100% !important;
		}

		&__layout {
			width: 172px;
			&__img {
				cursor: pointer;
				height: 172px;
			}
			&__container {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				justify-items: center;
			}
		}
	}
}

@media only screen and (max-width: 820px) {
	.user__search__container {
		.myfriends {
			&__layout {
				width: 150px;
				&__img {
					height: 150px;
				}
			}
		}
	}
}
