.notificaiton__main {
	width: 69%;
	margin: auto;
	font-family: 'Montserrat';
	font-style: normal;
}
.notificaiton__main__container {
	display: flex;
	padding-top: 40px;
	gap: 36px;
	align-items: center;
}
.notificaiton__main__back {
	background: #eff0f7;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
}
.notificaiton__main__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.75px;
}
.notificaiton__tabs_main {
	margin-top: 40px;
	border-radius: 16px;
	.nav-tabs .nav-link {
		padding: 10px 10px !important;
		margin: 30px 30px 0 40px;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		// letter-spacing: 1px;
		font-family: 'Montserrat';
		font-style: normal;
	}
}

.notificaiton__all__main__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.75px;
	padding: 32px 40px;
}
.notificaiton__tabs__main__all,
.notificaiton__tabs__main__all__seen {
	margin: 0 40px 20px 40px;
	.notificaiton__all__main__layout {
		display: flex;
		gap: 15px;
		align-items: center;
		.notificaiton__all__main__layout__image {
			border-radius: 50%;
		}
		.notificaiton__all__main__layout__status {
			flex: 1;
		}
		.notificaiton__main__all__infor {
			font-weight: 500;
			font-size: 15px;
			line-height: 24px;
			span {
				font-weight: 600;
			}
		}
		.notificaiton__main__all__unseen {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: #e0af7e;
		}
		.notificaiton__main__all__seen {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: #fff;
		}
		.notificaiton__all__status__seen {
			font-weight: 500;
			font-size: 13px;
			line-height: 22px;
			letter-spacing: 0.25px;
		}
	}
}
.notificaiton__main__all__friend {
	display: flex;
	margin: 15px 70px;
	gap: 20px;
	.notificaiton__main__all__accept,
	.notificaiton__main__all__refuse {
		padding: 11px 55px;
		border-radius: 12px;
		font-weight: 600;
		font-size: 13px;
		line-height: 22px;
		letter-spacing: 0.25px;
		text-align: center;
		cursor: pointer;
		// min-width: 180px;
		border: none;
	}
	.notificaiton__main__all__accept {
		background: #e0af7e;
		color: #fcfcfc;
	}
	.notificaiton__main__all__refuse {
		background: #eff0f7;
		color: #6e7191;
	}
}
.notificaiton___main__all__status {
	font-weight: 500;
	font-size: 13px;
	line-height: 22px;
	color: #e0af7e;
}
