.rich-text-editor {
	width: 100%;
	.m1mfvffo {
		vertical-align: baseline;
	}
}

.public-DraftEditorPlaceholder-root {
	height: 100%;
	.public-DraftEditorPlaceholder-inner {
		height: 100%;
		display: flex;
		align-items: center;
	}
}
