.popup-group__header {
	display: flex;
	justify-content: space-between;
	padding: 24px;
	button {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: #eff0f7;
	}
	h3 {
		flex: 1;
		text-align: center;
		height: 48px !important;
		margin-bottom: 0 !important;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.book-list {
	flex-wrap: wrap;
	display: flex;
	cursor: pointer;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 10px;
	gap: 10px;
	.close__author {
		position: absolute;
		right: 4px;
		align-items: center;
		margin-left: 5px;
		padding-top: 4px;
		svg {
			width: 16px;
			height: 16px;
		}
	}
	span {
		color: #b38c64;
		background-color: #f5e7d8;
		padding: 0rem 1.25rem;
		border-radius: 10px;
		font-size: 0.75rem;
		width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		line-height: 32px;
		position: relative;
		height: 40px;
		padding-top: 5px;
		button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.author__item {
	cursor: pointer;
	margin-top: 10px;
	justify-content: space-between;
	align-items: center;
	width: -moz-fit-content;
	width: fit-content;
	margin-right: 10px;
	padding: 0.75rem 1.25rem;
	border-radius: 10px;
	font-size: 0.75rem;
	background-color: #f5e7d8;
	color: #b38c64;
}

.author__list {
	display: flex;
	flex-wrap: wrap;
}

.disableBtn {
	margin-top: 57px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eff0f7;
	padding: 16px;
	border-radius: 12px;
	pointer-events: none;
}

.form-field-wrapper {
	padding: 25px;
}

.form-field-name {
	label {
		margin-bottom: 23px;
	}
}

.list__author-tags {
	display: flex;
	flex-wrap: wrap;
	background-color: #f7f7fc;
	border-radius: 12px;
	padding: 0 10px;
	.input {
		width: fit-content;
	}
}

.input__authors {
	flex-wrap: wrap;
	display: flex;
	cursor: pointer;
	align-items: center;
	margin-bottom: 10px;
	margin-top: 10px;
	gap: 10px;
	span {
		width: max-content;
		color: #b38c64;
		background-color: #f5e7d8;
		padding: 0.75rem 1.25rem;
		border-radius: 10px;
		font-size: 0.75rem;
	}
}

.close__author {
	align-items: center;
	margin-left: 5px;
	svg {
		width: 16px;
		height: 16px;
	}
}

.form-field-select__transparent,
.form-field-hashtag,
.form-field-authors,
.form-field-discription,
.form-field-select__kind-of-group {
	label {
		margin-top: 39px;
		margin-bottom: 23px;
	}
}

.select-box {
	// ai sửa thì cho vào class chứa select k thì chỗ khác sẽ ăn chung css
	.select-box__btn {
		justify-content: space-between;
	}
	.select-box__list {
		max-width: 100% !important;
		width: 100% !important;
	}
	.select-box__item {
		width: 100%;
		margin: 0 !important;
	}
}

.form-field--discription {
	textarea {
		background-color: #eff0f7;
	}
}

.form-button {
	margin-top: 57px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e0af7e;
	padding: 16px;
	border-radius: 12px;
	button {
		color: #fcfcfc;
	}
}
