.post__quotes__container {
	background: #eff0f7;
	border-radius: 12px;
	padding: 16px;
	margin-bottom: 2rem;
	.quote-card {
		margin-bottom: 0px;
		.quote-card__quote-content p:first-child {
			max-width: 100% !important;
		}
	}
}
