.modalFollowers__container {
	border-radius: 16px;
	background: #ffffff;
	font-family: 'Montserrat';
	font-style: normal;
	z-index: 1000;
	box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.04);
	overflow-x: hidden;
}
.modalFollowers__container__main .modal-dialog {
	max-width: 900px;
	.modal-content {
		border-radius: 16px;
	}
}
.modalFollowers__header {
	display: flex;
	justify-content: space-around;
	justify-content: center;
	align-items: center;
	padding: 30px 50px;
	position: relative;
	&::after {
		content: '';
		background: #f1f1f5;
		height: 1px;
		width: 100%;
		position: absolute;
		top: 100%;
	}
}
.modalFollowers__title {
	letter-spacing: 0.75px;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	flex: 1;
	text-align: center;
	color: #2d2c42;
}
.modalFollowers__close {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #eff0f7;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.modalFollowers__search {
	margin: 40px 25px;
}
.modalFollowers__info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 25px;
	max-height: 430px;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 8px;
		background-color: #f5f5f5;
	}

	&::-webkit-scrollbar-track {
		background-color: rgb(255, 255, 255);
		-webkit-border-radius: 16px;
		border-radius: 16px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 16px;
		background-color: #cfcfcf;
	}

	.author-card {
		padding: 2.25rem;
		margin: 16px 0;

		.author-card {
			&__left {
				margin-right: 10px;
				cursor: pointer;
				width: 300px;
				overflow: hidden;
			}
			&__right {
				.row {
					margin-right: inherit;
				}
			}
		}
		.author-card__info h5 {
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.75px;
			color: #2d2c42;
		}
		.author-card__subtitle {
			color: #6e7191;
			font-weight: 500;
			font-size: 13px;
			line-height: 22px;
			letter-spacing: 0.25px;
		}
	}
	.data__blank {
		text-align: center;
		display: block;
		margin: 100px 0px;
	}
}

@media only screen and (max-width: 986px) {
	.modalFollowers__container__main {
		.modal-content {
			width: 85%;
			margin: 0 auto;
			.author-card {
				.author-card {
					&__right {
						.connect-button {
							&.row {
								width: 600px;
								flex-direction: row;
							}
							&.btn {
								width: 45%;
								span {
									font-size: small;
								}
							}
						}
					}
				}
			}
		}
	}
}
