@import 'src/scss/abstracts/_global.scss';

.post__container {
	padding: 20px 16px;
	background-color: white;
	border-radius: 16px;
	margin-bottom: 24px;
}

.post__user-status {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 12px;
}

.post__user-status__avatar {
	width: 6.05%;
	border-radius: 50%;
	overflow: hidden;
	img {
		width: 100%;
		object-fit: cover;
	}
}

.post__user-status__name {
	font-weight: 600;
	font-size: 0.94rem;
	line-height: 1.5rem;
	letter-spacing: 0.75px;
}

.post__user-status__post-time-status {
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 1.4rem;
	color: #a0a3bd;
	gap: 8px;
	font-weight: 500;
}

.post__user-status__post-time-status__online-dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: $primary;
}

.post__description {
	font-size: 0.94rem;
	line-height: 1.5rem;
	color: #4e4b66;
	margin-bottom: 20px;
}

.post__options {
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 20px 16px;
	border-top: #f1f1f5 1px solid;
}

.post__options__item {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 0.81rem;
	color: #6e7191;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	svg {
		width: 24px;
		height: 24px;
	}
}

.post__comments-box {
	display: flex;
	gap: 8px;
}

.post__comments-box__avatar {
	width: 5.4%;
	padding-top: 5px;
	img {
		width: 100%;
	}
}

.post__comments-box__comment-area {
	flex-grow: 1;
	padding: 11px 16px;
	background: #fefdfa;
	border: 1px solid #d9dbe9;
	border-radius: 15px;
	resize: none;
	font-size: 13px;
	overflow: hidden;
	outline: none;
	color: #2d2c42;
	line-height: 22px;
	&::placeholder {
		color: #a0a3bd;
		font-size: 13px;
		line-height: 22px;
	}
}
