.infor-tab {
	&__heading {
		margin-bottom: 2.5rem;
		font-size: 1.25rem;
		line-height: 1.5;
	}

	.form-field {
		height: 56px;
		input {
			height: 100%;
		}

		&.form-field-flex {
			display: flex;
			align-items: center;
			gap: 0.625rem;
			padding: 0.75rem 1rem;
		}

		.form-field-badge {
			&.badge {
				padding: 0.625rem 0.875rem;
				font-size: 1rem;
				border-radius: 12px;
			}
		}
	}

	.form-field-label {
		margin-bottom: 1.5rem;
	}

	.form-field-group {
		margin-bottom: 2.5rem;
	}
}
