@import 'src/scss/abstracts/_variables.scss';

.author-card {
	display: flex;
	justify-content: space-between;
	background-color: $secondary;
	padding: 2.25rem 2.25rem 2.25rem 3rem;
	border-radius: 16px;
	align-items: center;
	&__left {
		display: flex;
	}

	&__avatar {
		flex-shrink: 0;
		margin-right: 1.25rem;
	}

	&__info {
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 1.5;
		color: $ash-placeholder;
		h5 {
			font-size: 1.125rem;
			color: $ash;
		}
		p {
			&:last-of-type {
				color: $ash;
			}
		}
	}
}
