@import 'src/scss/abstracts/_global.scss';

.subContainer {
	display: flex;
	justify-content: space-between;
	.subContainer__sidebar-wrapper {
		&.left {
			width: 330px;
			margin-right: 40px;
		}
		&.right {
			width: 310px;
			margin-left: 60px;
		}
		.subContainer__left {
			width: inherit;
			position: fixed;
			height: calc(100vh - 96px);
			overflow-x: hidden;
			overflow-y: scroll;
			padding: 40px 14px 0 40px;
			&::-webkit-scrollbar {
				width: 6px;
			}
			/* track */
			&::-webkit-scrollbar-track {
				background: transparent;
				border-radius: 8px;
			}
			/* thumb */
			&::-webkit-scrollbar-thumb {
				background: transparent;
				border-radius: 8px;
			}

			&.show-scrollbar {
				&::-webkit-scrollbar-thumb {
					background: rgba(#606060, 0.2);
				}
			}
		}

		.subContainer__right {
			width: inherit;
			position: fixed;
			padding: 40px 40px 40px 0;
		}
	}

	.subContainer__main {
		max-width: 700px;
		flex-grow: 1;
		padding-top: 40px;
	}
}

@media only screen and (max-width: 1366px) {
	.subContainer {
		.subContainer__sidebar-wrapper {
			&.left {
				width: 300px;
				margin-right: 20px;
			}
			&.right {
				width: 280px;
				margin-left: 40px;
			}
			.subContainer__left {
				padding: 28px 14px 0 28px;
			}
			.subContainer__right {
				padding: 28px 28px 40px 0;
			}
		}
		.subContainer__main {
			max-width: 660px;
			padding-top: 28px;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.subContainer {
		.subContainer__sidebar-wrapper {
			&.left {
				width: 217px;
				margin-right: 20px;
			}
			&.right {
				width: 217px;
				margin-left: 20px;
			}
			.subContainer__left {
				padding: 28px 10px 0 16px;
			}
			.subContainer__right {
				padding: 28px 16px 40px 0;
			}
		}
		.subContainer__main {
			max-width: 550px;
			padding-top: 28px;
		}
	}
}

@media only screen and (max-width: 820px) {
	.subContainer {
		.subContainer__sidebar-wrapper {
			display: none;
		}

		.subContainer__main {
			max-width: 700px;
			margin: auto;
		}
	}
}
