@import 'src/scss/abstracts/_global.scss';

.subContainer {
	display: flex;
	padding: 40px;

	&__left,
	&__right {
		width: 20%;
		max-width: 280px;
	}

	&__main {
		margin: 0 3.75em;
		flex-grow: 1;
	}
}

@media screen and (max-width: 768px) {
	.subContainer {
		flex-wrap: wrap;
		&__main {
			margin: 0;
			flex-grow: 1;
		}
	}
}
