@import 'src/scss/abstracts/_global.scss';

.subContainer {
	display: flex;
	justify-content: space-between;
	padding: 40px;

	&__left,
	&__right {
		width: 20%;
	}

	&__main {
		width: 51.3%;
	}
}

@media only screen and (max-width: 1280px) {
	.subContainer {
		&__left,
		&__right {
			width: 21.5%;
		}
	}
}
