@import 'src/scss/abstracts/_variables.scss';

.reply-box {
	display: flex;
	gap: 0.7em;
	.user-avatar {
		margin-top: 5px;
	}

	&__textarea {
		border: 1px solid $ash-line;
		width: 41.5rem;
		max-width: 41.5rem;
		padding: 11px 16px;
		background: #fefdfa;
		border-radius: 16px;
		flex-grow: 1;
		font-size: 0.825rem;
		line-height: 1.5;
		overflow: hidden;
		outline: none;
		position: relative;
		color: $ash;
		resize: none;
		&::placeholder {
			color: $ash-placeholder;
		}
	}
}
