@import 'src/scss/abstracts/_variables.scss';

.post-tab {
	margin-top: 0.5px;
	position: relative;
	background-color: $secondary;
	&.loading {
		background-color: $white;
	}

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 20px;
		background-color: white;
		position: absolute;
	}

	.post__container {
		padding: 32px 40px;
		.share-target {
			padding: 28px 44px;
		}
	}
	.post__video-youtube {
		width: 100%;
		height: 475px;
		margin: 24px 0;
	}
}
