@import 'src/scss/abstracts/_variables.scss';

.post-tab {
	position: relative;
	.post__container {
		padding: 32px 36px;
	}
	.post__video-youtube {
		width: 100%;
		height: 475px;
		margin: 24px 0;
	}
}
