@import 'src/scss/abstracts/_variables.scss';

.dualColumn-list {
	width: 100%;
	border-radius: 16px;
	overflow: hidden;
	font-size: 0.825rem;
	span {
		display: flex;
		align-items: center;
	}
}

.dualColumn-item {
	padding: 1rem 0 1rem;
	display: flex;
	color: $ash;
	line-height: 1.5;
	justify-content: space-between;

	&.has-background {
		padding: 1rem 1rem 0;
		&:last-of-type {
			padding-bottom: 1rem;
		}
	}

	&__title {
		display: inline-block;
		font-weight: 600;
	}

	&__number {
		display: inline-block;
		font-weight: 500;
		color: $ash-placeholder;
		&.no-page-text {
			color: $ash;
			font-size: 15px;
			font-weight: 600;
		}
	}
}

.dualColumn-btn {
	display: flex;
	align-items: center;
	// padding: 0 1em;
	color: $ash;
	margin-top: 1.25rem;
	.view-caret {
		margin-right: 15px;
		transition: all 0.2s linear;
		&.view-more {
			transform: rotate(180deg);
		}
	}
}
@media only screen and (max-width: 1024px) {
	.dualColumn-item {
		padding: 0;
		margin-bottom: 15px;
	}
	.mainContainer__right {
		.dualColumn-item__number {
			display: none;
		}
	}

	.dualColumn-item__title {
		width: 160px;
	}

	.sidebar-shelves {
		.dualColumn-item__number {
			display: block;
		}
	}
}
@media only screen and (max-width: 1280px) {
	.dualColumn-item__title {
		width: 170px;
	}
}
