@import 'src/scss/abstracts/_variables.scss';

.category-group {
	margin-top: 2.5rem;
	text-align: right;
	border-bottom: 1px solid $grey-border;
	h4 {
		text-align: left;
	}
	&__link {
		display: inline-block;
		margin-top: 2rem;
		margin: 2rem 0 1.5rem;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.5;
		text-decoration: underline;
		color: $blue;
		&:hover {
			color: $blue;
		}
	}

	.category-group__none-slider {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 16px;
		margin-bottom: 40px;
		.book-thumbnail {
			width: 100%;
			height: 315px;
		}
	}

	&__slider {
		.book-thumbnail {
			margin-right: 16px;
		}
	}
}
