@import 'src/scss/abstracts/_variables.scss';

$wallpaper-height: 350px;
.personal-info {
	margin-bottom: 3.25rem;
	&__wallpaper {
		height: $wallpaper-height;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
	}

	.edit-wallpaper {
		width: fit-content;
		margin-right: 2.5rem;
		margin-bottom: 1.5rem;
		&__btn {
			padding: 0.825rem 1.25rem;
			background-color: $white;
			border-radius: 12px;
			font-size: 1rem;
			font-weight: 600;
			color: $ash;
			display: flex;
			align-items: center;

			img {
				margin-right: 0.875rem;
			}

			span {
				margin-top: 2px;
			}
		}
	}

	&__detail {
		&__avatar-and-name {
			display: flex;
			width: 100%;
			gap: 36px;
		}

		&__avatar {
			width: fit-content;
			margin: -72px 10px 0 10px;
			position: relative;
		}

		&__name {
			width: 100%;
		}

		&__connect-buttons-and-introduction {
			display: flex;
			gap: 36px;
			margin-top: 16px;
		}

		&__introduction {
			flex-grow: 1;
		}

		.edit-avatar {
			position: absolute;
			bottom: 1rem;
			right: 0;
			&__btn {
				width: 38px;
				height: 38px;
				border-radius: 50%;
				background-color: $secondary;
			}
		}
	}

	&__username {
		display: flex;
		align-items: center;
		margin-top: 2.25rem;
		margin-bottom: 0.875rem;
		h4 {
			margin: 0;
			font-size: 1.5rem;
			font-weight: 700;
		}

		.edit-name {
			display: flex;
			align-items: flex-end;
			font-size: 0.875rem;
			font-weight: 500;
			color: $ash-label;

			&__pencil {
				width: 20px;
				height: 20px;
				margin: 0 0.25rem 0 0.75rem;
			}

			span {
				display: block;
			}
		}
	}

	&__email {
		color: $ash;
		font-weight: 600;
	}

	.setting {
		position: relative;
		margin-left: auto;
		&-btn {
			width: 38px;
			height: 38px;
			border-radius: 50%;
			background-color: rgba($primary-light, 0.4);
			margin-left: auto;
		}

		&-list {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-50%);
			z-index: 20;
			max-width: 380px;
			width: 380px;
			border-radius: 16px;
			background-color: $white-off;
			box-shadow: 0 0 20px 2px rgba($ash-placeholder, 0.4);
			overflow: hidden;
			z-index: 1000;
		}

		&-item {
			padding: 0 2rem 1.25rem;
			display: flex;
			align-items: center;
			gap: 1.25rem;
			font-size: 1rem;
			font-weight: 600;
			color: $ash-body;
			cursor: pointer;
			&:hover {
				background-color: $secondary;
				font-weight: 700;
				transition: all 0.3s ease-in;
			}
			&:first-of-type {
				padding-top: 2rem;
			}
			&:not(:first-of-type) {
				padding-top: 1.25rem;
			}

			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

	&__list {
		display: flex;
		gap: 2rem;
		margin-bottom: 1.2rem;
	}

	&__item {
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 1.5;
		color: $ash-label;

		.number {
			display: inline-block;
			margin-right: 0.25rem;
			font-weight: 700;
			color: $blue;
		}
	}

	&-form {
		.form-field {
			width: 420px;
			display: flex;
			gap: 24px;
			&-group {
				margin-bottom: 2.5rem;
			}

			&--custom {
				width: 100%;
				display: block;
			}

			&-wrapper {
				display: flex;
				align-items: center;
				gap: 1.5rem;
				&.socials-link {
					margin-bottom: 1rem;
				}
			}

			&-wrapper--custom {
				display: block;
			}

			&-label {
				margin-bottom: 12px;
			}

			&-name {
				width: 100%;
				display: flex;
				gap: 24px;
				justify-content: space-between;
			}

			&__btn {
				background-color: #eff0f6;
				height: 34px;
				border-radius: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				padding: 0 12px;
				cursor: pointer;
				&.cancel {
					color: #e61b00;
				}
				&.save {
					color: $success;
				}
			}

			&__buttons {
				display: flex;
				justify-content: flex-end;
				gap: 1rem;
				margin-top: 16px;
				&.no-data {
					justify-content: flex-start;
					margin: 0;
					gap: 1.5rem;
				}
			}

			&-filled {
				width: 100%;
				height: 56px;
				padding: 0 1em;
				font-size: 0.94rem;
				line-height: 1.5;
				color: $ash;
				border-radius: 15px;
				background-color: #f7f7fc;
				display: flex;
				align-items: center;
				user-select: none;

				&.email {
					background-color: #d9dbe9;
				}

				&.gender {
					justify-content: center;
					width: fit-content;
					padding: 0 1.5rem;
				}
			}

			input {
				height: 56px;
				background-color: $ash-background;
			}

			.add-and-search-categories {
				.add-and-search-categories__main-content {
					padding: 12px 16px;
					input {
						height: 32px;
					}
					.add-and-search-categories__input {
						height: fit-content;
					}
				}
			}
		}

		.btn-icon {
			flex-shrink: 0;
			width: 34px;
			height: 34px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #eff0f6;
			cursor: pointer;
			svg {
				width: 14px;
				height: 14px;
			}
		}

		&__btn__container {
			margin-top: 1.25rem;
			padding: 2rem 0;
			border-top: 1px solid #f1f1f5;
			text-align: center;
		}
	}

	&__btn__submit {
		background-color: $ash-line;
		padding: 1.25rem;
		max-width: 650px;
		width: 100%;
		border-radius: 16px;
		color: $ash-placeholder;
		cursor: no-drop;
		&.active {
			background-color: $primary;
			color: white;
			cursor: pointer;
		}
	}

	&__modal {
		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-track {
			background: #f1f1f1;
			border-radius: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background: #606060;
			border-radius: 8px;
			&:hover {
				background: rgba(#606060, 0.85);
			}
		}

		.modal-dialog {
			max-width: 700px;
		}
		.modal-content {
			border-radius: 16px;
			border: none;
		}

		.modal-header {
			padding: 2rem 1.25rem 1.25rem;
			border-bottom: 1px solid #f1f1f5;
		}

		.modal-title {
			text-align: center;
			flex-grow: 1;
		}
		.modal-body {
			padding: 1.5rem;
		}

		.close-btn {
			background-color: #eff0f6;
			padding: 8px;
			border-radius: 50%;

			svg {
				width: 18px;
				height: 18px;
			}
		}
	}
}

.form-field__no-data {
	font-size: 14px;
	height: 56px;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1366px) {
	.personal-info {
		&__list {
			gap: 28px;
		}
	}
}
