@import 'src/scss/abstracts/_global.scss';
.mainContainer {
	padding: 40px 72px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.mainContainer__right {
	max-width: 280px;
	width: 22.22%;
}

.mainContainer__main {
	max-width: 976px;
	margin-right: 2.5em;
	flex-grow: 1;
	width: 77.78%;
}

.mainContainer__right-left {
	max-width: 280px;
	width: 22.22%;
	margin-right: 2.5em;
}

.mainContainer__main-left {
	flex-grow: 1;
}

@media only screen and (max-width: 1367px) {
	.mainContainer {
		.mainContainer__main {
			margin-right: 2.5rem;
			.main-shelves {
				.main-shelves__pane {
					.shelf {
						.book-item {
							max-width: 195px;
							.book-item__container {
								.book-thumbnail.book-thumbnail-lg {
									width: 180px;
									height: 290px;
								}
							}
						}
					}
				}
			}
		}

		.mainContainer__right {
			.sidebar-shelves {
				.charts__reading__container {
					.charts__reading__container__main {
						.charts__reading__container__main__month {
							width: auto;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1281px) {
	.mainContainer {
		.mainContainer__main {
			margin-right: 2.5rem;
			max-width: 800px;
			width: 60%;
			.main-shelves {
				.main-shelves__header {
					h4 {
						font-size: 1.2rem;
					}
					.main-shelves__search {
						max-width: 400px;
					}
				}
				.main-shelves__pane {
					.main-shelves__filters {
						.select-box {
							width: 200px;
						}
					}
					.shelf {
						grid-template-columns: repeat(3, 1fr);
						grid-gap: 1rem;
						.book-item {
							max-width: 190px;
							.book-item__container {
								.book-thumbnail.book-thumbnail-lg {
									width: 160px;
									height: 250px;
								}
							}
						}
					}
				}
			}
		}

		.mainContainer__right {
			width: 40%;
			flex: 1;
			.sidebar-shelves {
				.charts__reading__container {
					.charts__reading__container__main {
						.charts__reading__container__main__month {
							width: auto;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.mainContainer {
		.mainContainer__main {
			margin-right: 0px;
			max-width: none;
			.main-shelves {
				.main-shelves__header {
					h4 {
						font-size: 1.2rem;
					}
					.main-shelves__search {
						max-width: 250px;
					}
				}
				.main-shelves__pane {
					.main-shelves__filters {
						.select-box {
							width: 200px;
						}
					}
					.shelf {
						grid-template-columns: repeat(3, 1fr);
						grid-gap: 1rem;
					}
				}
			}
		}
	}
	.mainContainer__right-left {
		width: 27%;
		margin-right: 0;

		.list-group__container {
			.item-infor__name {
				font-size: 15px;
			}
		}
		.main__title {
			font-size: 15px !important;
		}
	}
	.mainContainer__main-left {
		.list-group-container {
			.item-group {
				width: 95%;
				img {
					height: 130px;
				}
			}
		}
		.list-group-container {
			column-gap: 3px;
			.item-group__text {
				.item-group__name {
					span {
						font-size: 15px;
					}
				}
			}
		}
	}
	.sidebar-category {
		margin-top: 22px;
	}
	.subcontainer__sub {
		.search-group-container {
			margin-right: 85px;
		}
	}
}

@media only screen and (max-width: 1366px) {
	.mainContainer__main {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 1280px) {
	.mainContainer__main-left {
		width: 31%;
		margin-top: 8px;

		.item-group {
			width: 90%;
		}

		.item-group {
			.item-group__name {
				margin-top: 0;
				& span {
					height: 0px;
				}
			}
		}
		.list-group-container {
			row-gap: 20px;
			column-gap: 0;
			& h3 {
				font-size: 17px;
			}
		}
	}
	.item-list-group {
		& img {
			width: 55px !important;
			height: 55px !important;
		}
	}
	.mainContainer {
		padding: 20px 72px;
	}
}

@media only screen and (max-width: 820px) {
	.mainContainer {
		padding-top: 25px;
		padding-bottom: 40px;
		padding-left: 72px;
		padding-right: 72px;
		.mainContainer__main {
			padding-left: 0px;
			padding-right: 0px;
			margin: 0;
			.main-shelves {
				.main-shelves__header {
					h4 {
						font-size: 1.2rem;
					}
					.main-shelves__search {
						max-width: 400px;
					}
				}
				.main-shelves__pane {
					.main-shelves__filters {
						.select-box {
							width: 200px;
						}
					}
					.shelf {
						grid-template-columns: repeat(3, 1fr);
						grid-gap: 1rem;
						.book-item {
							.book-thumbnail {
								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
						}
					}
				}
			}
		}
		.mainContainer__right {
			display: none;
		}
	}
	.mainContainer__right-left {
		display: none;
	}
	.mainContainer__main-left {
		.list-group-container {
			column-gap: 20px;
		}
	}
	.subcontainer__sub {
		.search-group-container {
			margin-top: 0;
			margin-left: 65px;
			margin-right: 82px;
			padding-top: 30px;
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: 768px) {
	.mainContainer__main-left {
		.item-group {
			.item-group-btn {
				button {
					font-size: 11px;
				}
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.mainContainer {
		.mainContainer__main {
			margin: 0;
			.main-shelves {
				.main-shelves__header {
					h4 {
						font-size: 1.2rem;
					}
					.main-shelves__search {
						max-width: 230px;
					}
				}
				.main-shelves__pane {
					.main-shelves__filters {
						.select-box {
							width: 180px;
						}
					}
					.shelf {
						grid-template-columns: repeat(2, 1fr);
						grid-gap: 1rem;

						.book-item {
							.book-thumbnail {
								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
						}
					}
				}
			}
		}
		.main-shelves {
			.main-shelves__pane {
				margin-right: 0px;
			}
			.main-shelves__search {
				margin: 0;
			}
		}
	}
}
