@import 'src/scss/abstracts/_global.scss';
.mainContainer {
	padding: 40px 72px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.mainContainer__right {
	max-width: 280px;
	width: 22.22%;
}

.mainContainer__main {
	max-width: 976px;
	margin-right: 2.5em;
	flex-grow: 1;
	width: 77.78%;
}

.mainContainer__right-left {
	max-width: 280px;
	width: 22.22%;
	margin-right: 2.5em;
}

.mainContainer__main-left {
	flex-grow: 1;
}

@media only screen and (max-width: 820px) {
	.mainContainer {
		padding-top: 25px;
		padding-bottom: 40px;
		padding-left: 72px;
		padding-right: 72px;
	}
	.mainContainer__right {
		display: none;
	}
	& .mainContainer__main {
		margin-right: 0;
	}
}

@media only screen and (max-width: 1024px) {
	.sidebar-category {
		margin-top: 22px;
	}
}

@media only screen and (max-width: 1366px) {
	.mainContainer__main {
		margin-right: 20px;
	}
}
@media only screen and (max-width: 1280px) {
	.mainContainer__main {
		margin-right: 0;
	}
}
