.sort-quotes-modal {
	&__item {
		// border: 1px solid red;
		padding: auto 0;
		height: 56px;
		display: flex;
		align-items: center;

		& .form-check-wrapper {
			width: 100%;
		}

		& span {
			margin-bottom: 0px;
		}

		& button {
			width: 100%;
		}
	}
	& .modal-dialog {
		width: 376px;
		margin-top: 120px;

		& .modal-content {
			// height: 1085px;
			border-radius: 8px;
			gap: 12px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 32px;

			& .modal-body {
				padding: 0px;
				margin: 0 auto;
				width: 312px;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.sort-quotes-modal {
		.modal-content {
			padding: 0 32px 32px 32px !important;
		}
	}

	.filter-quote-pane__setting__title {
		margin-top: 60px !important;
	}
	.form-check {
		margin-top: 15px !important;
	}
	.form-check-wrapper {
		margin-top: 20px !important;
	}
}

@media only screen and (max-width: 1280px) {
	.filter-quote-pane__setting__group {
		margin-top: -25px;
	}
}
