@import 'src/scss/abstracts/_variables.scss';
.sort-review-modal {
	&__item {
		padding: auto 0;
		height: 56px;
		display: flex;
		align-items: center;

		& .form-check-wrapper {
			width: 100%;
		}

		& span {
			margin-bottom: 0px;
		}

		& button {
			width: 100%;
		}
	}
	& .modal-dialog {
		width: 376px;

		& .modal-content {
			border-radius: 8px;
			gap: 12px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 32px;

			& .modal-body {
				padding: 0px;
				margin: 0 auto;
				width: 312px;

				& .form-check-input[type='checkbox'] {
					background-color: white;
					border: 2px solid #a0a3bd;
				}
			}
		}
	}
}

.search-review {
	margin: 0 40px;
	height: 56px;
	padding: 0 1.5em;
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-color: $ash-background;

	&__icon {
		width: 20px;
		height: 20px;
		margin-right: 20px;
	}

	&__input {
		flex-grow: 1;
		background-color: inherit;
		border: none;
		outline: none;
		font-size: 16px;
		&:focus {
			border: none;
		}
	}
}

.review-tab {
	padding-top: 30px;
	.post__container {
		padding: 32px 40px;
	}
}
@media only screen and (max-width: 1024px) {
	.review-tab {
		.review-tab__filter__options {
			gap: 20px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.review-tab {
		.review-tab__filter__options {
			padding: 0 85px;
		}
	}
}
@media only screen and (max-width: 820px) {
	.review-tab {
		.review-tab__filter__options {
			padding: 0 80px;
		}
	}
}
@media only screen and (max-width: 1280px) {
	.sort-review-modal__item {
		button {
			margin-top: 30px;
		}
	}
}
