.result__notfound__main {
	text-align: center;
	.result__notfound__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 32px;
		color: #2d2c42;
		margin-top: 15px;
		margin-bottom: 4px;
	}
	.result__notfound__decription {
		font-weight: 600;
		font-size: 13px;
		line-height: 22px;
		color: #a0a3bd;
		margin-bottom: 2.75rem;
	}
}
