.result__container {
	max-width: 850px;
	margin: auto;
	padding-bottom: 60px;
	.result__header {
		padding-top: 34px;
		margin-bottom: 22px;
		&__content {
			font-weight: 700;
			font-size: 36px;
			line-height: 48px;
			color: #2d2c42;
			overflow: hidden;
		}
	}
	.result__main {
		margin-top: 24px;
		border-radius: 16px;
		overflow: hidden;
		.nav-tabs {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
		.nav-item {
			.nav-link {
				font-weight: 600;
				font-size: 15px;
				line-height: 24px;
				color: #a0a3bd;
			}
			.active {
				color: #2d2c42;
			}
		}
		.nav-tabs .nav-link {
			padding: 2.75rem 1.5rem 1.75rem 1.5rem;
			font-size: 18px;
		}
		.tab-content {
			padding-bottom: 0;
		}
	}

	.author-book__title {
		max-width: 100%;
	}
}

@media only screen and (max-width: 1024px) {
	.result__container {
		margin: auto;
		.result__header__content {
			font-size: 24px;
		}
		.result__main {
			.nav-tabs .nav-link {
				padding: 28px 20px 20px;
			}
		}
	}
}

@media only screen and (max-width: 820px) {
	.result__container {
		max-width: 764px;
	}
}

@media only screen and (max-width: 768px) {
	.result__container {
		max-width: 726px;
		.result__main {
			.quote-footer__badge.badge {
				max-width: 153px !important;
			}
			.quote-footer {
				gap: 5px;
			}
		}
	}
}
