.notification {
	position: absolute;
	width: 400px;
	top: 100%;
	right: -600%;
	background: #fcfcfc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.04);
	cursor: default;
	z-index: 1000;

	.notification__container {
		background: #fcfcfc;
		font-family: 'Montserrat';
		width: 400px;
	}
	.loading-indicator {
		width: 30px;
		height: 30px;
		&::after {
			width: 26px;
			height: 26px;
			border-width: 3px;
		}
	}
}

.notification__loading__container {
	margin-top: 12px;
}

.notification-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.75px;
	margin-left: 20px;
	margin-top: 20px !important;
	margin-bottom: 15px !important;
}

.notification__title {
	font-size: 20px;
	line-height: 32px;
	font-weight: 600;
	margin-top: 10px;
	margin-left: 20px;
}

.notification__tabs {
	margin-top: 12px;
	background: #fcfcfc;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	.nav-tabs {
		display: flex;
		gap: 2rem;
		background: #fcfcfc !important;
		padding: 0 20px;
	}

	.tab-content {
		background: #fcfcfc !important;
	}

	.nav-item .nav-link {
		font-weight: 600;
		font-size: 15px;
		line-height: 24px;
		padding: 0 0 10px 0 !important;
	}

	.tab-content {
		padding-bottom: 0;
	}

	.no__notificaion {
		font-size: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 50px 0;
	}
}

.notification__tabs__all__active {
	opacity: 0.8;
}

.notification__tabs__all,
.notification__tabs__all__seen,
.notification__tabs__all__active {
	margin: 0 10px;
	cursor: pointer;
	border-radius: 8px;
	.notification__all__layout {
		display: flex;
		gap: 15px;
		align-items: center;
		padding: 10px;
		border-radius: 8px;
		.notification__all__layout__status {
			display: flex;
			flex-direction: column;
			gap: 5px;
			flex: 1;
		}
	}
}

.notification__tabs__all__seen:hover,
.notification__tabs__all__active:hover {
	background-color: #e2e4e5;
}

.notification__all__accept:hover .notification__tabs__all__active {
	background-color: #fcfcfc !important;
}

.notification__all-wrapper {
	max-height: 75vh;
	overflow-y: scroll;
	margin-right: 2px;
	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: white;
		border-radius: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(#606060, 0.3);
		border-radius: 8px;
		&:hover {
			background: rgba(#606060, 0.2);
		}
	}
}

.notification__all__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: 0.75px;
	margin: 8px 20px;
}

.notification__all__infor {
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.75px;
	flex: 1;
	span {
		font-weight: 600;
	}
}

.notification__all__status {
	text-align: left;
	color: #0576f0;
	font-weight: 500;
	font-size: 13px;
	line-height: 22px;
	flex: 1;
}

.notification__all__unseen {
	text-align: left;
	min-height: 16px;
	min-width: 16px;
	border-radius: 50%;
	background: #e0af7e;
}

.notification__all__seen {
	background: #fcfcfc;
}

.notification__tabs__all__seen {
	margin: 0 10px !important;
	text-align: left;
}

.notification__all__status__seen {
	font-weight: 500;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 0.25px;
	color: #4e4b66;
	text-align: left;
}

.notification__all__friend {
	display: flex;
	padding: 0 15px 15px 10px;
	justify-content: space-between;
	.notification__all__accept,
	.notification__all__refuse {
		width: 49%;
		padding: 11px 0;
		border-radius: 12px;
		font-weight: 600;
		font-size: 13px;
		line-height: 22px;
		letter-spacing: 0.25px;
		text-align: center;
		cursor: pointer;
	}

	.notification__all__accept {
		background: #e0af7e;
		color: #fcfcfc;
	}
	.notification__all__refuse {
		background: #eff0f7;
		color: #6e7191;
	}
}

.notification__tabs__button {
	text-align: center;
	padding: 12px 20px !important;
	color: #0576f0;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.75px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.system-notification__image {
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: white;
	.user-avatar__img {
		width: 70%;
		height: auto;
		object-fit: cover;
		transform: translateX(1px);
	}
}

@media only screen and (max-width: 1366px) {
	.notification {
		max-height: 85vh;
		.notification__all-wrapper {
			max-height: 70vh;
		}
	}
}

@media only screen and (max-width: 1280px) {
	.notification {
		right: -480%;
	}
}

@media only screen and (max-width: 1024px) {
	.notification {
		max-height: unset;
		right: -500%;
		.notification__all-wrapper {
			max-height: 75vh;
		}
	}
}

@media only screen and (max-width: 820px) {
	.notification {
		right: -860%;
	}
}

@media only screen and (max-width: 768px) {
	.notification {
		right: -745%;
	}
}
