.category__search__container {
	padding: 32px 28px;
	.category-group {
		margin-top: 0;
	}
}

@media only screen and (max-width: 820px) {
	.category__search__container {
		padding: 28px 24px;
	}
}

@media only screen and (max-width: 768px) {
	.category__search__container {
		padding: 24px 20px;
	}
}
