.result__search__container {
	max-height: 85vh;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 8px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 8px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgba(#606060, 0.3);
		border-radius: 8px;
		&:hover {
			background: rgba(#606060, 0.2);
		}
	}
	font-family: 'Montserrat';
	font-style: normal;
	.result__search__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 14px;
		.result__search__main__left {
			display: flex;
			gap: 16px;
			align-items: center;
			flex: 1;
			cursor: pointer;
			.result__search__icon__time {
				.result__search__img {
					width: 42px;
					height: 42px;
					border-radius: 50%;
				}
			}
			.result__search__name {
				font-weight: 700;
				font-size: 15px;
				line-height: 24px;
				color: #000000;
			}
		}

		.result__search__close {
			cursor: pointer;
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

	.result__search__value {
		display: flex;
		align-items: center;
		gap: 11px;
		margin-top: 24px;
		cursor: pointer;
		.result__search__icon {
			width: 44px;
			height: 44px;
			border-radius: 50%;
			background: #e0af7e;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				path {
					stroke: #f7f7fc;
				}
			}
		}
		.result__search__value__input {
			font-weight: 700;
			font-size: 15px;
			line-height: 24px;
			color: #e0af7e;
			word-break: break-all;
		}
	}
}
