// colors
$primary: #e0af7e;
$secondary: #fbf7f2;
$warning: "#FFDF9A";
$success: #008a00;
$success-dark: #067306;
$blue: #0576f0;
$ash: #2d2c42;
$ash-label: #6e7191;
$ash-placeholder: #a0a3bd;
$ash-background: #F7F7FC;
$white: #FFFFFF;
