@import 'src/scss/abstracts/_global.scss';

.book-intro {
	display: flex;
	line-height: 1.5;
	gap: 2.25rem;

	&__image {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	&__btn {
		&.btn {
			width: 200px;
			margin-top: 1.5em;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__name {
		font-size: 1.5rem;
		font-weight: 700;
		color: $ash;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&__author {
		margin-bottom: 1rem;
		font-size: 1rem;
		font-weight: 400;
	}

	&__check {
		width: 20px;
		height: 20px;
		margin-left: 9px;
		fill: $success;
		path {
			color: $white;
		}
	}

	&__stars {
		display: flex;
		align-items: center;
		gap: 0.56rem;
		margin-bottom: 1rem;
		span {
			font-size: 0.825rem;
			font-weight: 600;
			color: $ash-placeholder;
		}
	}

	&__description {
		margin-bottom: 1.5rem;
	}

	&__action {
		display: flex;
		gap: 1.875rem;
		margin-top: auto;
		background: $white;
		padding: 0.875rem 1.25rem;
		max-width: 200px;
		border-radius: 12px;
	}

	&__share {
		display: flex;
		align-items: center;
		&__text {
			margin-left: 1rem;
			display: inline-block;
			font-size: 0.825rem;
			font-weight: 600;
			color: $ash-label;
		}
	}

	.react-share__ShareButton {
		width: fit-content;
	}
}

@media only screen and (max-width: 820px) {
	.book-intro {
		margin-left: 5px;
	}
}

@media only screen and(max-width:768px) {
	.book-intro {
		margin-left: -25px;
	}
}

@media only screen and (max-width: 1024px) {
	.book-intro__action {
		margin-top: 17px;
	}
}
