@import 'src/scss/abstracts/_global.scss';

.book-intro {
	display: flex;
	line-height: 1.5;
	gap: 2.25rem;

	&__image {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 24px;
	}

	&__btn {
		&.btn {
			width: 200px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 24px;
		.book-intro__content__infomations {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			h1 {
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&__name {
		font-size: 1.5rem;
		line-height: 1.5;
		font-weight: 700;
		color: $ash;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&__author {
		margin-bottom: 1rem;
		font-size: 1rem;
		font-weight: 400;
		&__link {
			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}

	&__check {
		width: 20px;
		height: 20px;
		margin-left: 9px;
		fill: $success;
		path {
			color: $white;
		}
	}

	&__stars {
		display: flex;
		align-items: center;
		gap: 0.56rem;
		margin-bottom: 1rem;
		span {
			font-size: 0.825rem;
			font-weight: 600;
			color: $ash-placeholder;
		}
	}

	&__action {
		height: 56px;
		background: $white;
		max-width: 200px;
		border-radius: 12px;
		overflow: hidden;
		.react-share__ShareButton {
			width: 100% !important;
			height: 100%;
			display: flex;
			gap: 1.875rem;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 1.25rem !important;
		}
	}

	&__share {
		display: flex;
		align-items: center;
		img {
			max-height: 24px;
		}
		&__text {
			margin-left: 1rem;
			display: inline-block;
			font-size: 0.825rem;
			font-weight: 600;
			color: $ash-label;
		}
	}

	.react-share__ShareButton {
		width: fit-content;
	}
}
