.bookSearch__container {
	padding: 32px 28px;
	.bookSearch__title {
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		color: #a0a3bd;
		padding-left: 4px;
	}
	.bookSearch__main {
		margin-top: 36px;
		.author-book {
			.book-thumbnail {
				height: 208px;
			}
			.author-book__info {
				justify-content: flex-end;
				.author-book__info__book-name {
					.author-book__title {
						margin-bottom: 12px;
						-webkit-line-clamp: 2;
					}
				}
				.author-book__authors {
					margin-bottom: 20px;
				}
				.react-rating-container {
					> span {
						margin-right: 12px;
						.star-icon {
							width: 28px;
						}
					}
				}
			}
		}
	}
}

.btn-goTo-upload-book {
	display: flex;
	flex-direction: column;
	align-items: center;
	&.has-background {
		margin-top: 35px;
		background-color: #fbf7f2;
		margin-bottom: 1.75rem;
		padding: 1.125rem 1.75rem;
		border-radius: 16px;
	}
}

@media only screen and (max-width: 820px) {
	.bookSearch__container {
		padding: 28px 24px;
	}
}

@media only screen and (max-width: 768px) {
	.bookSearch__container {
		padding: 24px 20px;
	}
}
