.bookSearch__container {
	padding: 17px;
	.bookSearch__title {
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		color: #a0a3bd;
		padding-left: 4px;
	}
	.bookSearch__main {
		margin-top: 35px;
		.author-book__title {
			flex: 1;
		}
	}
}

.btn-goTo-upload-book {
	display: flex;
	justify-content: center;
}
