@import 'src/scss/abstracts/_variables.scss';

.main-category-detail {
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		h4 {
			margin-bottom: 0;
			margin-left: 20px;
		}

		.btn-like {
			margin-left: auto;
			&:hover {
				.heart-icon {
					color: inherit;
				}
			}

			&.active {
				.heart-icon {
					svg {
						fill: $primary;
						path {
							stroke: none;
						}
					}
				}
			}

			&.btn-outline-primary {
				&.active {
					background-color: unset;
					color: $primary-dark;
				}
			}
		}

		.heart-icon {
			display: inline-block;
			margin-right: 0.825rem;
			color: $primary;
		}
	}

	&__intro {
		padding: 1.5rem 2.5rem;
		border-radius: 16px;
		margin-bottom: 2.5rem;
		background: $white;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: $ash-body;
		text-align: justify;
	}

	&__container {
		padding: 32px 40px 60px;
		background: $white;
		border-radius: 16px;
		.get-more-books-btn {
			margin: 24px 0 0 auto;
			display: flex;
			gap: 16px;
			align-items: center;
		}
		.loading-indicator {
			margin-top: 20px;
		}
	}

	&__allbook {
		margin-top: 2.5rem;
		text-align: right;
		.books {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
		}

		h4 {
			text-align: left;
		}
	}

	.filter-pane {
		margin-top: 40px;
		border-radius: 16px;
		&__heading {
			padding: 32px 40px 24px;
			h4 {
				margin-bottom: 0;
			}
		}
	}

	.book-thumbnail {
		border: 1px solid $ash-line;
		img {
			&:hover {
				transform: scale(1.1);
				transition: all 0.2s ease-out;
			}
		}
	}

	&__modal {
		.modal-content {
			max-width: 352px;
			margin: auto;
			border-radius: 8px;
		}

		.main-category-detail__modal__content {
			padding: 48px;
		}

		.main-category-detail__modal__title {
			margin-bottom: 8px;
			font-size: 18px;
			font-weight: 600;
			line-height: 24px;
			padding-left: 12px;
		}

		.main-category-detail__modal__btn {
			width: 100%;
			margin-top: 1.5rem;
		}

		&__option__group {
			margin-bottom: 1.75rem;
			h4 {
				font-size: 18px;
			}
		}

		.btn-confirm {
			width: 100%;
		}
	}

	&__posts {
		padding: 16px 24px;
	}
}
