@import 'src/scss/abstracts/_variables.scss';

.read-more {
	font-size: 15px;
	line-height: 1.5;
	text-align: justify;

	&__btn {
		color: $blue;
		&:hover {
			text-decoration: underline;
		}
	}
	> div {
		overflow-y: hidden;
	}
}
