.modal-search-categories {
	.modal-content {
		border-radius: 10px;
		max-width: 479px;
		max-height: 752px;

		h4 {
			margin-bottom: 8px;
		}
		.search-field {
			border: none;
		}

		.result-categories-list {
			padding: 20px 16px;

			.result-categories-item {
				padding: 16px 40px;
				font-weight: 600;
				border-radius: 10px;
			}

			.result-categories-item:hover {
				background-color: antiquewhite;
				cursor: pointer;
			}

			&::-webkit-scrollbar {
				width: 8px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: #f1f1f1;
				border-radius: 8px;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: rgba(#606060, 0.3);
				border-radius: 8px;
				&:hover {
					background: rgba(#606060, 0.2);
				}
			}
		}
	}
}
