@import 'src/scss/abstracts/_variables.scss';

.shelf {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	.book-item {
		margin-bottom: 2rem;
	}

	.book-thumbnail {
		border: 1px solid $ash-line;
		width: 100%;
		height: 295px;
		img {
			&:hover {
				transform: scale(1.1);
				transition: all 0.2s ease-out;
			}
		}
	}
}

@media only screen and (max-width: 1280px) {
	.shelf {
		& .book-thumbnail {
			height: 250px;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.shelf {
		grid-template-columns: repeat(3, 1fr);
	}
}
