@import 'src/scss/abstracts/_variables.scss';

.main-profile {
	width: 100%;

	.tab-pane {
		&.active {
			padding: 2.5rem;
		}
		&.post-tab-active {
			padding: 0;
			background-color: $secondary;
		}
	}

	&__tabs {
		&.nav-tabs {
			gap: 1.5rem;
			justify-content: space-between;
			.nav-link {
				font-weight: 600;
				line-height: 1.5;
			}
		}
	}

	.favorite-quotes {
		margin-top: 3.75rem;
	}
}
