@import 'src/scss/abstracts/_variables.scss';

.main-profile {
	width: 100%;

	.tab-pane {
		&.active {
			padding: 2.5rem;
		}
		&.post-tab-active {
			padding: 0;
			background-color: $secondary;
		}
	}

	&__tabs {
		&.nav-tabs {
			justify-content: space-between;
			padding: 44px 40px 0 40px;
			.nav-link {
				font-weight: 600;
				line-height: 1.5;
				padding: 0 0 32px;
			}
		}
		&.none-books {
			justify-content: space-around;
		}
	}

	.author-book {
		.book-thumbnail {
			height: 208px;
		}
		.author-book__info {
			justify-content: flex-end;
			.author-book__info__book-name {
				.author-book__title {
					margin-bottom: 12px;
					-webkit-line-clamp: 2;
				}
			}
			.author-book__authors {
				margin-bottom: 20px;
			}
			.react-rating-container {
				> span {
					margin-right: 12px;
					.star-icon {
						width: 28px;
					}
				}
			}
		}
	}

	.favorite-quotes {
		margin-top: 3.75rem;
	}

	.none-data {
		width: fit-content;
		margin: auto;
	}
}

@media only screen and (max-width: 820px) {
	.main-profile {
		width: 100% !important;
		.nav-tabs {
			margin-right: 0;
		}
	}
}
@media only screen and (max-width: 1280px) {
	.main-profile {
		width: 95%;
	}
}
