.book-reference {
	padding-bottom: 150px;
	&__slider {
		margin-bottom: 48px;
	}

	&__add-to-series {
		display: flex;
		align-items: center;
		margin-bottom: 33px;
		> span {
			font-weight: 600;
			font-size: 20px;
		}
	}

	&__highlight__post {
		border: none;
		margin-bottom: 60px;
	}

	.card-link {
		&.card {
			border: unset;
			border-radius: 16px;
			margin-bottom: 20px;
		}

		&__item {
			margin: 1.5rem 1rem;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			text-overflow: ellipsis;
			overflow: hidden;
			cursor: pointer;
			font-size: 13px;
			font-weight: 600;
			line-height: 22px;
			color: #4e4b66;
		}
	}
	.edit-name__pencil {
		cursor: pointer;
		scale: 0.7;
		position: absolute;
	}
}
@media only screen and (max-width: 1024px) {
	.book-reference {
		&__slider {
			margin-bottom: 1.5rem;
		}
	}
	.statistic-title {
		margin-top: -27px;
	}
}
@media only screen and (max-width: 820px) {
	.book-reference__slider {
		display: none;
	}
	.book-reference__highlight__post {
		display: none;
	}
	.dualColumn {
		display: none;
	}
}
