@import 'src/scss/abstracts/_variables.scss';

.quote-action-bar {
	display: flex;
	align-items: center;
	gap: 32px;
}

.quote-action__item {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 13px;
	color: #6e7191;
	font-weight: 600;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;

	& > div {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	span {
		line-height: 24px;
		vertical-align: middle;
	}

	svg {
		width: 24px;
		height: 24px;
	}

	.quote-icon {
		&.active {
			path {
				stroke: none;
				fill: $primary;
			}
		}
	}

	a {
		font-weight: 600;
		.quote-action__right-arrow {
			margin-left: 10px;
			height: 16px;
		}
	}
}

.quote-action__name {
	display: inline-block;
}

@media only screen and (max-width: 1366px) {
	.quote-action-bar {
		gap: 28px;
	}
}
@media only screen and (max-width: 1024px) {
	.quote-action__name {
		width: 50px;
	}

	.quote-action__item {
		& span {
			width: 61px;
		}
	}
	.quote-action__item a {
		.quote-action__right-arrow {
			margin-left: 0px;
		}
	}
}
