.group-sibar-left__container {
	width: 270px;
}
.group-sibar-left__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	display: flex;
	align-items: center;
	letter-spacing: 0.75px;
	color: #2d2c42;
}
.group-sibar-left__description {
	background: #ffffff;
	border-radius: 16px;
	padding: 20px 26px 22px 16px;
	span {
		img {
			width: 24px;
			height: 24px;
			margin-right: 22px;
		}
	}
}
.group-sibar-left__text1,
.group-sibar-left__text2 {
	margin-top: 20px;
	strong {
		color: #2d2c42;
		font-weight: 600;
	}
	span {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		color: #6e7191;
	}
}
.group-sibar-left__btn {
	margin-top: 20px;
	display: flex;
	justify-content: end;
	align-items: center;
	margin-bottom: 20px;

	button {
		color: #0576f0;
	}
}
.under-title {
	margin-top: 60px;
}
.group-sibar-left__people {
	background: #ffffff;
	border-radius: 16px;
	margin-top: 32px;
	padding: 20px 6px 24px 16px;
	img {
		width: 54px;
		height: 54 px;
		object-fit: cover;
		border-radius: 50%;
	}
}

.group-sibar-left__people-friends {
	margin-top: 15px;
}
.group-sibar-left__people-folowers {
	margin-top: 21px;
}
.people-item {
	height: 54px;
	display: flex;
	margin-top: 15px;
	.people-item__text {
		display: flex;

		justify-content: center;
		flex-direction: column;
		margin-left: 14.5px;
		span {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 15px;
			line-height: 24px;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			overflow: hidden;
			align-items: center;
			letter-spacing: 0.75px;
			color: #2d2c42;
			max-height: 24px;
		}
		div {
			margin-top: 5px;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 22px;
			display: flex;
			align-items: center;
			letter-spacing: 0.25px;
			color: #6e7191;
		}
	}
}
.manage-item {
	cursor: pointer;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 0.75px;
	color: #6e7191;
	display: flex;
	margin-top: 22px;
	svg {
		margin-right: 8px;
		width: 28px;
		height: 28px;
	}
	p {
		margin-right: 10px;
		background-color: #e0af7e;
		border-radius: 50%;
		width: 30px;
		height: 28px;
		padding: 3px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 22px;
		display: flex;
		align-items: center;
		letter-spacing: 0.25px;
		color: #fcfcfc;
	}
}
.manage-btn {
	cursor: pointer;

	display: flex;
	align-items: center;
	svg {
		margin-right: 10px;
		margin-bottom: 5px;
	}
}
.group__intro {
	margin-top: 60px;
}

.group-sibar-left__description {
	margin-top: 32px;
}
