.Modal__Read__Target {
	.main-category-detail__modal .modal-content {
		max-width: 500px;
	}
	.read-challenge {
		margin-bottom: 0;
	}
	.btn-closeX {
		display: flex;
		justify-content: right;
	}
	.modal-body {
		text-align: center;
	}
}
