.ranks__container {
	width: 55%;
	margin: auto;
	padding-top: 47px;
	font-family: 'Montserrat';
	font-style: normal;
	.ranks__container__header {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-bottom: 50px;
		.ranks__container__main__back {
			background-color: #eff0f7;
			padding: 8px;
			border-radius: 50%;
		}
		.ranks__container__main__title {
			color: #2d2c42;
			font-weight: 700;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: 1px;
		}
	}
	.ranks__container__main {
		.nav-tabs {
			gap: 5rem;
			padding: 0 40px;
			justify-content: space-around;
		}
		.nav-item {
			// flex-grow: 1;
			// padding: 0 50px;

			// button {
			// 	padding: 25px 50px;
			// }
			.nav-link {
				font-weight: 600;
				font-size: 20px;
				line-height: 32px;
				letter-spacing: 0.75px;
				// width: 100%;
			}
			.active {
				border-top-left-radius: 16px;
				border-top-right-radius: 16px;
			}
		}
	}
}

@media only screen and (max-width: 1280px) {
	.ranks__container {
		width: 65%;
	}
}

@media only screen and (max-width: 1024px) {
	.ranks__container {
		width: 75%;
		.topbooks__container {
			&__main {
				margin-left: 0;
			}
		}
	}
}

@media only screen and (max-width: 820px) {
	.ranks__container {
		width: 85%;

		.topbooks__container__main {
			margin-left: 0;
			.author-book {
				margin-bottom: 1.2rem;
				.book-thumbnail {
					img {
						width: 100%;
						height: 100%;
					}
				}
				.author-book__info__book-name {
					.author-book__share {
						width: 35px;
						height: 35px;
					}
					.author-book__title {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.ranks__container {
		.topbooks__container {
			.top__user__ranks {
				margin: 75px auto 40px auto;
			}
			.topbooks__container__main {
				margin-left: 0;
				.connect-button.btn {
					width: 190px;
				}
			}
		}
	}
}
