.ranks__container {
	width: 55%;
	margin: auto;
	padding-top: 47px;
	font-family: 'Montserrat';
	font-style: normal;
	.ranks__container__header {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-bottom: 50px;
		.ranks__container__main__back {
			background-color: #eff0f7;
			padding: 8px;
			border-radius: 50%;
		}
		.ranks__container__main__title {
			color: #2d2c42;
			font-weight: 700;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: 1px;
		}
	}
	.ranks__container__main {
		.nav-tabs {
			gap: 5rem;
			padding: 0 40px;
			justify-content: space-around;
		}
		.nav-item {
			// flex-grow: 1;
			// padding: 0 50px;

			// button {
			// 	padding: 25px 50px;
			// }
			.nav-link {
				font-weight: 600;
				font-size: 20px;
				line-height: 32px;
				letter-spacing: 0.75px;
				// width: 100%;
			}
			.active {
				border-top-left-radius: 16px;
				border-top-right-radius: 16px;
			}
		}
	}
}
