.MainReadingAuthor__container {
	.reading-target__table {
		margin-top: 79px;
		border-radius: 12px;
		.reading-target__table__header th {
			padding: 16px;
			font-size: 13px;
		}
		.book-row {
			.title {
				text-align: left !important;
			}
			.book-name {
				max-width: 98px;
				font-size: 14.9px;
				color: #4e4b66;
				text-align: center;
			}
			.custom-td {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 4px;
			}
			.book-name-custom {
				color: #0576f0;
				text-decoration-line: underline;
				font-size: 12px;
				cursor: pointer;
			}
			.book-name-title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.custom-text {
				color: #b38c64;
				text-decoration-line: underline;
			}
		}
	}
}
