@import 'src/scss/abstracts/_variables.scss';

.sidebar-quote {
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
	&__reading__status {
		margin-top: 1rem;
		h4 {
			margin-bottom: 1.5rem;
		}
	}
	.topic-column__container {
		grid-template-columns: 1fr;
	}
}
