@import 'src/scss/abstracts/_variables.scss';

.main-reading-summary {
	&__nav {
		background-color: white;
		margin-bottom: 2rem !important;
		padding: 12px 54px !important;
		border-radius: 16px;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.nav-item {
		font-size: 20px;
		font-weight: 400;
		color: $ash;
	}

	.nav-link {
		color: $ash;
		&.active {
			font-weight: 600 !important;
		}
	}

	.tab-content {
		padding: 1.5rem;
		border-radius: 16px;
		min-height: 800px;
	}
}

@media only screen and (max-width: 1280px) {
	.mainContainer {
		.mainContainer__main {
			.main-reading-summary {
				.main-reading-summary__nav {
					padding: 12px 10px !important;
					display: flex;
					justify-content: space-around;
				}
				.tab-content {
					margin-right: 0;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.mainContainer {
		.mainContainer__right {
			display: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	.mainContainer {
		.mainContainer__main {
			.main-reading-summary {
				.main-reading-summary__nav {
					padding: 12px 0px !important;

					.nav-link {
						font-size: 1rem;
					}
				}
				.read-book-tab__quantity {
					font-size: 1rem;
				}
				.tab-content {
					width: auto;
				}
			}
		}
	}
}
