.search-group__container {
	margin-top: 53px;
}
.searh-group__member {
	background-color: #fff;
	border-radius: 12px;
	padding: 23px 12px 23px 12px;
	margin-bottom: 24px;
}
.not-found-group {
	margin-top: 53px;
	background-color: #fff;
	padding: 24px;
	border-radius: 12px;
}
