@import 'src/scss/abstracts/_global.scss';

.event-and-rank-bar__block {
	margin: 24px 0 60px;
	display: block;
	cursor: pointer;
	.event-and-rank-bar__block.top__user__ranks {
		.top__user__ranks__one__title,
		.top__user__ranks__two__title {
			width: 92%;
			margin: auto;
			padding: 14px 0;
			p {
				font-size: 20px;
				line-height: 20px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				max-height: 4rem;
				overflow: hidden;
				text-overflow: ellipsis;
				word-break: break-word;
			}
		}
	}
	.top__user__ranks__one__title {
		.number__books {
			font-size: 25px !important;
		}
	}
	.top__user__ranks__two__title {
		.number__books {
			font-size: 20px !important;
		}
	}
}

.event-and-rank-bar__block__title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 24px;
	color: #2d2c42;
}

.event-and-rank-bar__content {
	display: flex;
	padding: 20px 16px;
	background-color: white;
	border-radius: 16px;
	position: relative;
	justify-content: center;
	img {
		width: 100%;
	}

	.top__user__ranks {
		transform: scale(0.5);
		position: absolute;
		left: 24px;
		top: 10px;
		&__one {
			position: relative;
			bottom: 40px;
		}
		&__two {
			position: relative;
			top: 50px;
		}
	}
}

.event-bar__name {
	font-size: 0.94rem;
	line-height: 1.5rem;
	margin-bottom: 20px;
	color: #2d2c42;
	letter-spacing: 0.75px;
	font-weight: 700;
}

.event-bar__join-event {
	width: 100%;
	margin-top: 20px;
	padding: 9px;
	border: #e0af7e 2px solid;
	border-radius: 8px;
	width: 100%;
	color: #b38c64;
	font-size: 0.81rem;
	line-height: 1.37rem;
	font-weight: 500;
}

@media only screen and (max-width: 1366px) {
	.event-and-rank-bar__content {
		.top__user__ranks {
			transform: scale(0.45);
			top: 14px;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.event-and-rank-bar__block__title {
		font-size: 18px;
	}
	.event-and-rank-bar__content {
		.top__user__ranks {
			transform: scale(0.25);
			top: -21px;
			&__two {
				top: 100px;
			}
		}
	}
	.event-and-rank-bar__content {
		.top__user__ranks {
			left: 20px;
		}
	}
}
